// Place all the styles related to the Technologies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.filter-container{
    display: flex;
    justify-content: center;
}

.filter-label{
    padding: 30px;
}
